<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
               "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<!-- Document Heading -->
<head>
<title>OPENID_SITE_NAME OpenID Service - OPENID_NAME</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="en-US"/>
<link rel="SHORTCUT ICON" href="/favicon.ico"/>
<link rel="openid2.provider" href="OPENID_OP_ENDPOINT"/>
<link rel="openid2.local_id" href="OPENID_URL_PREFIXOPENID_ID"/>
<link rel="openid.server" href="OPENID_OP_ENDPOINT"/>
<link rel="openid.delegate" href="OPENID_URL_PREFIXOPENID_ID"/>
</head>

<body>

<div>
<table class="border-collapse: collapse; padding: 0" style="width: 100%">
<tr>
<td style="width: 45%; padding-right: 2em">

<img src="/images/open_id.png" style="width: 200px; height: 80px; border: none;" alt="" />

<h1>OPENID_SITE_NAME OpenID Service</h1>

<p>This site provides OpenID authentication services for OPENID_SITE_NAME users.</p>

</td>
<td style="border-left: solid 2px #f2f2f2; padding-left: 2em">
<h1>OPENID_NAME</h1>

<p>OpenID: <a href="OPENID_URL_PREFIXOPENID_ID">OPENID_URL_PREFIXOPENID_ID</a></p>

CONTENT_TAG

</td>
</tr>
</table>
</div>

</body>

</html>
