<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
               "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<!-- Document Heading -->
<head>
<title>OPENID_SITE_NAME OpenID Service</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="en-US"/>
<link rel="SHORTCUT ICON" href="/favicon.ico"/>
</head>

<!-- Document body -->
<body>

<div>

<img src="/images/open_id.png" style="width: 200px; height: 80px; border: none;" alt="OpenID" />

<h1>OPENID_SITE_NAME OpenID Service</h1>

CONTENT_TAG

</div>

</body>

</html>
